name: docs

on:
  workflow_dispatch:
  push:
    branches:
      - main

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  doxygen:
    runs-on: ubuntu-latest
    steps:
      - 
        uses: actions/checkout@master
      - 
        run: |
          docker run --rm -v $(pwd):/app -w /app rodrigodornelles/doxygen:lua doxygen
      - 
        uses: actions/configure-pages@v3
      -
        uses: actions/upload-pages-artifact@v2
        with:
          path: 'html'
      - 
        id: deployment
        uses: actions/deploy-pages@v2
